{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
   <div class="row">
       <h1>Proprietários</h1>
       <table class="table table-striped">
           <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ação</th>
                </tr>
           </thead>
           <tbody>
                {% for proprietario in proprietarios %}
                    <tr>
                        <td>{{ proprietario.id }}</td>
                        <td>{{ proprietario.nome }}</td>
                        <td>{{ proprietario.cpf }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'editar-proprietario' proprietario.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'excluir-proprietario' proprietario.id %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
           </tbody>
       </table>
   </div>

{% endblock %}